@import "src/styles.scss";

.pill-container {
  padding: 5px 15px;
  border-radius: 16px;
  color: white;
  margin: 5px;
  cursor: pointer;
  display: inline-grid;
  grid-auto-flow: column;
  gap: 5px;
  align-items: center;

  &.success {
    background-color: $green;
  }
  &.error {
    background-color: $red;
  }
  &.warning {
    background-color: $orange;
  }
  &.info {
    background-color: $blue;
  }
}
